<fieldset>
  <legend>Login</legend>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" formControlName="email" id="email" />
      <p
        *ngIf="loginForm.get('email')?.touched &&
        loginForm.get('email')?.errors?.['required']"
        class="small"
      >
        Email is required.
      </p>
      <p
        *ngIf="loginForm.get('email')?.touched &&
        loginForm.get('email')?.errors?.['email']"
        class="small"
      >
        Please enter a valid email address.
      </p>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password" />
      <p
        *ngIf="loginForm.get('password')?.touched &&
        loginForm.get('password')?.errors?.['required']"
        class="small"
      >
        Password is required.
      </p>
      <p
        *ngIf=" loginForm.get('password')?.touched &&
        loginForm.get('password')?.errors?.['minlength']"
        class="small"
      >
        Password must be at least 6 characters long.
      </p>
    </div>
    <div>
      <button type="submit" [disabled]="!loginForm.valid">
        {{ loading ? "Loading..." : "Submit" }}
      </button>
    </div>
    <p *ngIf="error" class="error">Field(s) are incorrect. Please try again.</p>
  </form>
  <div>
    <p>
      Don't have an account? You can register yourself
      <a routerLink="/auth/register">here!</a>
    </p>
  </div>
</fieldset>
<app-loader *ngIf="loading"></app-loader>
