fieldset {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}
fieldset legend {
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary);
  margin-bottom: 10px;
  text-align: center;
  padding: 0px 10px !important;
  border-bottom: none !important;
  width: fit-content;
}

fieldset form div {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

fieldset form div input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  transition-duration: 0.3s;
}

fieldset form div input:focus {
  border: 1px solid var(--primary);
  box-shadow: 0 0 5px var(--primary);
}

fieldset form div label {
  font-size: 1.2em;
  font-weight: bold;
}

fieldset form div button {
  position: relative;
  display: block;
  width: 50%;
  padding: 5px 10px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  transition-duration: 0.3s;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}

fieldset form div button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

fieldset form div button:disabled:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

fieldset form div button:disabled {
  cursor: not-allowed;
}

fieldset form div button:disabled::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

fieldset div p {
  text-align: center;
}

fieldset div p a {
  color: var(--blue);
  font-weight: bold;
  text-decoration: underline;
}

fieldset div p.small {
  font-size: 1em;
  color: var(--red);
  text-align: start;
}
