<div *ngIf="adherent == undefined">
  <p>Aucun adherent</p>
</div>
<div *ngIf="!loading && adherent != undefined">
  <h1>Bienvenue {{ adherent.utilisateur.nom }}</h1>
</div>
<fieldset>
  <legend>Modifier</legend>
  <form [formGroup]="modifForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" formControlName="email" />
      <p
        class="small"
        *ngIf="
          modifForm.get('email')?.touched &&
          modifForm.get('email')?.hasError('required')
        "
      >
        Email is required.
      </p>
      <p
        class="small"
        *ngIf="
          modifForm.get('email')?.touched &&
          modifForm.get('email')?.hasError('email')
        "
      >
        Please enter a valid email address.
      </p>
    </div>
    <div>
      <label for="dateNaiss">Birth date</label>
      <input type="date" formControlName="dateNaiss" />
      <p
        class="small"
        *ngIf="
          modifForm.get('dateNaiss')?.touched &&
          modifForm.get('dateNaiss')?.hasError('required')
        "
      >
        Birth date is required.
      </p>
      <p
        class="small"
        *ngIf="
          modifForm.get('dateNaiss')?.touched &&
          modifForm.get('dateNaiss')?.hasError('pattern')
        "
      >
        Please enter a valid date.
      </p>
    </div>
    <div class="group">
      <div>
        <label for="prenom">Firstname</label>
        <input type="text" formControlName="prenom" />
        <p
          class="small"
          *ngIf="
            modifForm.get('prenom')?.touched &&
            modifForm.get('prenom')?.hasError('required')
          "
        >
          Firstname is required.
        </p>
      </div>
      <div>
        <label for="nom">Lastname</label>
        <input type="text" formControlName="nom" />
        <p
          class="small"
          *ngIf="
            modifForm.get('nom')?.touched &&
            modifForm.get('nom')?.hasError('required')
          "
        >
          Lastname is required.
        </p>
      </div>
    </div>
    <div class="group">
      <div>
        <label for="adressePostale">Address</label>
        <input type="text" formControlName="adressePostale" />
        <p
          class="small"
          *ngIf="
            modifForm.get('adressePostale')?.touched &&
            modifForm.get('adressePostale')?.hasError('required')
          "
        >
          Address is required.
        </p>
      </div>
      <div>
        <label for="pays">Country</label>
        <input type="text" formControlName="pays" />
        <p
          class="small"
          *ngIf="
            modifForm.get('pays')?.touched &&
            modifForm.get('pays')?.hasError('required')
          "
        >
          Country is required.
        </p>
      </div>
    </div>
    <div>
      <label for="numTel">Phone</label>
      <input type="tel" formControlName="numTel" />
      <p
        class="small"
        *ngIf="
          modifForm.get('numTel')?.touched &&
          modifForm.get('numTel')?.hasError('required')
        "
      >
        Phone is required.
      </p>
      <p
        class="small"
        *ngIf="
          modifForm.get('numTel')?.touched &&
          modifForm.get('numTel')?.hasError('pattern')
        "
      >
        Please enter a valid phone number.
      </p>
    </div>
    <div>
      <label for="photo">Photo (Non requis)</label>
      <input type="text" formControlName="photo" />
    </div>
    <div class="group">
      <button type="submit" [disabled]="!modifForm.valid">
        {{ loading ? "Loading..." : "Submit" }}
      </button>
    </div>
  </form>
</fieldset>
<app-loader *ngIf="loading"></app-loader>
