fieldset {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

fieldset legend {
  position: relative;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0px 10px;
}
