<div class="reservation" *ngIf="!suppression">
  <div>
    <img [src]="reservation.Lier.photoCouverture" alt="Image du livre" />
  </div>
  <div>
    <h1>{{ reservation.Lier.titre }}</h1>
    <p>Date réservation: {{ reservation.dateResa | date : "dd/MM/yyyy" }}</p>
    <p>
      Date fin de réservation :
      {{ reservation.dateResaFin | date : "dd/MM/yyyy" }}
    </p>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <button type="submit">Annuler la réservation</button>
    </form>
  </div>
</div>

<div *ngIf="suppression">
  <p>Réservation {{ reservation.id }} supprimée</p>
</div>