<div class="livre" *ngIf="!suppression">
  <div>
    <img [src]="reservation.livre.photoCouverture" alt="Image du livre" />
  </div>
  <div>
    <h1>{{ reservation.livre.titre }}</h1>
    <p>Date réservation: {{ reservation.dateResa | date : "dd/MM/yyyy" }}</p>
    <p>Date fin de réservation : {{ reservation.dateResaFin }}</p>
    <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="id" [value]="reservation.id" />
      <button type="submit" [disabled]="!reservationForm.valid">
        Annuler la réservation
      </button>
    </form>
  </div>
</div>

<div *ngIf="suppression">
  <p>Réservation {{ reservation.id }} supprimée</p>
</div>
