<app-loader *ngIf="loading"></app-loader>
<section *ngIf="!loading && livre">
  <div class="livre">
    <div>
      <img [src]="livre.photoCouverture" alt="Image du livre" />
    </div>
    <div>
      <h1>{{ livre.titre }}</h1>
      <!-- Date de sortie -->
      <p>Date de sortie : {{ livre.dateSortie | date : "longDate" }}</p>
      <!-- Langue -->
      <p>Langue : {{ livre.langue }}</p>
      <!-- Auteurs -->
      <div>
        <h3>Auteurs</h3>
        <p *ngFor="let auteur of livre.auteurs">{{ auteur.nom }}</p>
      </div>
      <!-- Catégories -->
      <div>
        <h3>Catégories</h3>
        <p *ngFor="let categorie of livre.categories">{{ categorie.nom }}</p>
      </div>
      <!-- Emprunts -->
      <div>
        <h3>Emprunts</h3>
        <p *ngIf="livre.emprunts.length === 0">Aucun emprunt</p>
        <div *ngIf="livre.emprunts.length > 0">
          <p *ngFor="let emprunt of livre.emprunts">
            {{ emprunt.dateEmprunt | date : "dd/MM/yyyy" }} -
            {{ emprunt.dateRetour | date : "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
      <!-- Réservations -->
      <div *ngIf="livre.reservations">
        <h3>Réservation</h3>
        <p *ngIf="livre.reservations.length === 0">Aucune réservation</p>
        <div *ngIf="livre.reservations.length > 0">
          <p *ngFor="let reservation of livre.reservations">
            Début : {{ reservation.dateResa | date : "dd/MM/yyyy" }} - Fin :
            {{ reservation.dateResaFin | date : "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
      <!-- TODO: Check if the user is logged -->
      <a routerLink="/reservation">Réserver</a>
    </div>
  </div>
</section>
<div *ngIf="!loading && !livre">
  <p>Livre introuvable</p>
</div>
