<app-loader *ngIf="loading"></app-loader>
<section *ngIf="!loading && livre">
  <div class="livre">
    <div>
      <img [src]="livre.photoCouverture" alt="Image du livre" />
    </div>
    <div>
      <h1>{{ livre.titre }}</h1>
      <!-- Date de sortie -->
      <p>Date de sortie : {{ livre.dateSortie | date : "longDate" }}</p>
      <!-- Langue -->
      <p>Langue : {{ livre.langue }}</p>
      <!-- Auteurs -->
      <div>
        <h3>Auteurs</h3>
        <p *ngFor="let auteur of livre.auteurs">{{ auteur.nom }}</p>
      </div>
      <!-- Catégories -->
      <div>
        <h3>Catégories</h3>
        <p *ngFor="let categorie of livre.categories">{{ categorie.nom }}</p>
      </div>
      <!-- Emprunts -->
      <div>
        <h3>Emprunts</h3>
        <p *ngIf="livre.emprunts.length === 0">Aucun emprunt</p>
        <div *ngIf="livre.emprunts.length > 0">
          <p *ngFor="let emprunt of livre.emprunts">
            {{ emprunt.dateEmprunt | date : "dd/MM/yyyy" }} -
            {{ emprunt.dateRetour | date : "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
      <!-- Réservations -->
      <div *ngIf="livre.reservations !== null">
        <h3>Réservation</h3>
        <p *ngIf="livre.reservations === null">Aucune réservation</p>
        <div *ngIf="livre.reservations !== null">
          Début : {{ livre.reservations.dateResa | date : "dd/MM/yyyy" }} - Fin
          :
          {{ livre.reservations.dateResaFin | date : "dd/MM/yyyy" }}
        </div>
      </div>
      <p *ngIf="toManyReservation && !myReservations && auth.isLogged" class="error">
        Vous avez trop de réservation, annuler une réservation pour en faire une
      </p>
      <p *ngIf="myReservations" class="error">
        Vous avez déjà réservé ce livre
      </p>
      <a
        routerLink="/reservations"
        *ngIf="toManyReservation && auth.isLogged && !myReservations"
        >Voir mes réservations</a
      >
      <form
        [formGroup]="reservationForm"
        (ngSubmit)="onSubmit()"
        *ngIf="
          auth.isLogged && livre.reservations === null && !toManyReservation
        "
      >
        <input type="hidden" formControlName="id" [value]="livre.id" />
        <button type="submit" [disabled]="!reservationForm.valid">
          Réserver
        </button>
      </form>
      <a routerLink="/auth/login" *ngIf="!auth.isLogged"
        >Connectez-vous pour réserver</a
      >
    </div>
  </div>
</section>
<div *ngIf="!loading && !livre">
  <p>Livre introuvable</p>
</div>
