div.livre {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  width: 250px;
  height: 500px;
  gap: 5px;
}

div.livre div.cover {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  height: 60%;
  width: 100%;
}

div.livre div.cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

div.livre div.info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
}

div.livre div.info div h2 {
  font-size: 1.5em;
}

div.livre div.info div p span.author {
  font-weight: bold;
  font-size: 1em;
}

div.livre div.info div p span.category {
  font-style: italic;
  font-size: 1em;
}

div.livre div.info div p span.comma::after {
  content: ",";
}

div.livre div.info div p span.comma:last-child:after {
  content: "";
}

div.livre div.details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

div.livre div.details p {
  font-size: 1.2em;
}
